<%- include('./base/header.ejs') %>

<div class="container">
    <div class="alert bg-success mt-3">
        <h4 class="text-center">Create New Account</h4>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form action="" method="POST">
                <div class="field my-3">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter your name">
                </div>

                <div class="field my-3">
                    <label for="" class="form-label">city</label>
                    <input type="text" class="form-control" name="city" placeholder="Enter city">
                </div>

                <div class="field my-3">
                    <label for="" class="form-label">email</label>
                    <input type="text" class="form-control" name="email" placeholder="Enter your email">
                </div>

                <div class="field my-3">
                    <label for="" class="form-label">Contact</label>
                    <input type="text" class="form-control" name="contact" placeholder="Enter phone number">
                </div>

                <input type="submit" value="Create" class="btn btn-warning w-100">
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>


<%- include ('./base/footer.ejs') %>